/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2b2b;
    position: relative;
    height: 100%; /* Cambiado para permitir espacio para el pie */
}

/* Contenedor para el fondo animado */
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que el fondo no interfiera con el contenido */
}

.background-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Contenedor del formulario */
.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Asegura que el formulario no quede cortado */
    height: auto;
    padding-top: 50px; /* Añadir algo de espacio desde el borde superior */
    margin-bottom: 50px; /* Espacio para evitar que el footer sea tapado */
}

.form-container {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Asegura que el formulario esté encima del fondo */
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="number"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    border-color: #ff9900;
    outline: none;
}

button {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #cc7a00;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}
